.VApp {
  text-align: left;
  justify-content: left;
  justify-content: space-evenly;
  height: 720px;
}
.VApp h1{
  border: 10px;
  height: 50px;
  max-width: 600px;
  margin: auto;
  color:#02706B;
  font-size: 50px;

}
.vision h2{
  margin-left: 15px;
  text-decoration-line: underline;
  text-align: left;
}
.vision p{
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
  font-size: x-large;
}
